@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Open Sans",sans-serif;
}
body{
    width:100%;
    height: 100vh;
    background: url("background.jpg") center/cover no-repeat;
}
header{
    position: fixed;
    width: 100%;
    left:0;
    top: 0;
    padding: 0 10px;
}
.navbar{
    display: flex;
    padding: 22px 0;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;

}

.navbar .logo{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;

}
.navbar .logo img{
    width: 100px;
    border-radius: 50%;
}
.navbar .logo h2{
    font-size:2.5rem;
    font-weight:600;
    color: #fff;
}
.navbar .links{
    display: flex;
    list-style: none;
    gap: 35px;
}
.navbar .links a{
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar .links a:hover{
    color:#19e8ff;
}

